{
    "rcon": {
        "IP": "localhost",
        "port": 25575,
        "password": "rcon password"
    },
    "key": "bot key",
    "discordToMinecraftChannels": [],
    "minecraftToDiscordChannels": [],
    "minecraftLog": "/path/to/server/logs/latest.log",
    "messageFormat": {
        "minecraftToDiscord": "**<{player}>** {message}",
        "discordToMinecraft": "[%dark_aqua%{user}%reset%|%dark_aqua%#{channel}%reset%] {message}"
    }
}