{
    "servers": {
        [
            "name": "Minecraft Server",
            "IP": "localhost"
            "port": 25565,
            "rcon": {
                "port": 25575,
                "password": "rconpassword"
            },
            "query": 25565
        ]
    }
    "key": "bot key",
    "discordToMinecraftChannels": [],
    "minecraftToDiscordChannels": [],
    "minecraftLog": "/path/to/server/logs/latest.log"
}